@charset "UTF-8";
@font-face {
  font-family: "Bogart";
  src: url("../assets/fonts/Bogart-Light-trial.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}
body {
  font-family: "Montserrat", Arial;
  margin: 0;
  background: #f6f6f6;
}

h1 {
  font-size: 1.5em;
  font-family: "Montserrat-Medium";
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-weight: 500;
  font-family: "Montserrat-Medium";
}

p {
  font-size: 1em;
}

/* Navigation sur écran desktop */
nav:first-child {
  background: rgb(33, 33, 33);
}
nav:first-child ul {
  width: 85%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}
nav:first-child ul li {
  cursor: pointer;
  background: linear-gradient(to top, rgba(221, 221, 212, 0.5607843137) 0%, rgba(221, 221, 212, 0.5607843137) 10%, transparent 10.01%) no-repeat left bottom/0 75%;
  transition: background-size 0.5s;
}
nav:first-child ul li a {
  text-decoration: none;
  color: white;
  margin-right: 75px;
  font-family: "Montserrat-Medium";
}
nav:first-child ul li:first-child {
  font-family: "Montserrat";
  font-weight: bold;
  color: #C1AE8C;
}

#espacement-nav {
  margin-left: auto;
}

#sans-marge {
  margin: 0;
}

/* Navigation sur mobile */
#section-nav-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: rgb(33, 33, 33);
}
#section-nav-mobile div:first-child {
  padding-left: 20px;
}
#section-nav-mobile div:first-child span {
  color: #C1AE8C;
  font-family: "Montserrat-Medium";
}
#section-nav-mobile div:nth-child(2) {
  padding-right: 20px;
}
#section-nav-mobile div:nth-child(2) #icon-menu {
  width: 64px;
  height: 64px;
  z-index: 2;
}
#section-nav-mobile nav {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  opacity: 0;
  background: rgb(33, 33, 33);
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
  z-index: 1;
}
#section-nav-mobile nav ul {
  padding: 0 10px;
  font-weight: bold;
}
#section-nav-mobile nav ul li {
  color: white;
  margin: 0;
  padding: 20px 10px;
}
#section-nav-mobile nav ul li:not(:last-child) {
  border-bottom: 1px solid;
}
#section-nav-mobile nav ul li a {
  font-family: "Montserrat-Medium";
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
#section-nav-mobile nav ul li a:hover {
  color: #C1AE8C;
}

.navOpen {
  opacity: 1 !important;
}

#main-accueil,
#main-contact {
  display: flex;
}

#main-accueil section {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 40%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5882352941);
  border: 1px solid;
}
#main-accueil section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 100%;
  text-align: center;
  font-size: 2em;
}
#main-accueil section h2:first-child {
  margin-top: 20px;
  text-align: center;
}
#main-accueil section h2:nth-of-type(2) {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 170%);
  font-size: 1.1em;
}
#main-accueil section h2:nth-of-type(2) a {
  text-decoration: none;
  color: black;
}
#main-accueil section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin-top: 40px;
  width: 100%;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-align: center;
}
#main-accueil section p a {
  background: rgb(33, 33, 33);
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 0.95em;
}

#main-contact #img-contact-desktop {
  width: 50%;
  height: 100vh;
}
#main-contact section {
  width: 50%;
  padding-top: 50px;
}
#main-contact section article:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-contact section article:first-child .trait_dessous {
  width: 150px;
  border-top: 1px solid grey;
}
#main-contact section h1 {
  text-align: center;
  padding: 0 10px;
}
#main-contact section h2 {
  width: 60%;
  margin: auto;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 2%;
}
#main-contact section article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(225, 216, 207, 0.9098039216);
  width: 50%;
  margin: auto;
  padding: 10% 5%;
}
#main-contact section article:nth-of-type(2) .moyen_comm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-contact section article:nth-of-type(2) .moyen_comm img {
  width: 50px;
}
#main-contact section article:nth-of-type(2) .moyen_comm p {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.3;
}
#main-contact section article:nth-of-type(2) #trait_dessous {
  border-top: 1px solid #000;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media (max-width: 1200px) {
  #main-accueil section {
    width: 50%;
  }
}
@media (max-width: 950px) {
  #main-accueil section {
    width: 50%;
  }
  #main-accueil section h2, #main-accueil section p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 750px) {
  #main-accueil section {
    width: 65%;
  }
  #main-accueil section h2, #main-accueil section p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  #main-accueil section {
    width: 75%;
  }
}
.main-competences {
  width: 100%;
  margin: auto;
  padding: 50px 0 50px 0;
}
.main-competences #resume {
  width: 85%;
  margin: auto;
}
.main-competences #resume article div {
  display: flex;
}
.main-competences #resume article div section h1 {
  margin-top: 0;
  font-weight: bold;
}
.main-competences #resume article div section p {
  font-size: 1.25em;
  font-weight: bold;
  text-align: justify;
  line-height: 1.75;
  padding-right: 75px;
}
.main-competences #resume article div section p strong {
  font-family: "Montserrat-Medium";
}
.main-competences #resume article div section div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-competences #resume article div section div div {
  border-bottom: 1px solid #fcfcfc;
  width: 77%;
  margin-top: 4%;
}
.main-competences #resume article div img {
  width: 325px;
  height: fit-content;
}
.main-competences #competences {
  width: 85%;
  margin: auto;
}
.main-competences #competences article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-competences #competences article h2 {
  text-align: center;
  padding: 0 10px 0 10px;
  font-family: "Montserrat-Medium";
}
.main-competences #competences article div.trait_dessus {
  border-top: 1px solid grey;
  width: 40%;
}
.main-competences #competences article .competence {
  width: 325px;
  height: 375px;
  border: 1px solid rgb(33, 33, 33);
  background: #E1D8CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.main-competences #competences article .competence:hover {
  background: #2f2e2e;
}
.main-competences #competences article .competence:hover h3, .main-competences #competences article .competence:hover img {
  display: none;
}
.main-competences #competences article .competence:hover ul {
  display: block;
  font-family: "Montserrat-Medium";
  color: white;
  padding: 0;
}
.main-competences #competences article .competence:hover ul li {
  padding-bottom: 5px;
}
.main-competences #competences article .competence h3 {
  font-family: "Montserrat-Medium";
  color: #4c4c4c;
}
.main-competences #competences article .competence img {
  width: 150px;
}
.main-competences #competences article .competence ul {
  display: none;
}
.main-competences #competences article:nth-child(2) {
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .main-competences #competences article:nth-child(2) {
    width: 75%;
    margin: auto;
  }
}
@media (max-width: 1050px) {
  .main-competences #competences article:nth-child(2) {
    justify-content: center;
  }
}
@media (max-width: 895px) {
  .main-competences #resume article div {
    flex-direction: column;
    align-items: center;
  }
  .main-competences #resume article div section p {
    font-size: 20px;
    padding: 0;
  }
  .main-competences #resume article img {
    margin-top: 4%;
  }
}
#achievements {
  background: white;
}
#achievements #main-achievements {
  width: 85%;
  margin: auto;
  margin-top: 5%;
}
#achievements #main-achievements article h2 {
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
}
#achievements #main-achievements article #titre {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
#achievements #main-achievements article #titre .trait_dessus {
  border-top: 1px solid grey;
  width: 40%;
}
#achievements #main-achievements article #titre h1 {
  width: 30%;
  text-align: center;
  padding: 10px;
  background: rgb(33, 33, 33);
  color: white;
  font-weight: 500;
}
#achievements #main-achievements article #recherche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
#achievements #main-achievements article #recherche #filtres-selectionnes {
  height: 30px;
}
#achievements #main-achievements article #recherche #filtres-selectionnes .filtre {
  font-family: "Montserrat";
  font-weight: bold;
  background: white;
  color: #b2a081;
  border: 1px solid #b2a081;
  border-radius: 15px;
  padding: 5px 10px;
}
#achievements #main-achievements article #recherche #filtres-selectionnes .filtre:first-child {
  margin-right: 10px;
}
#achievements #main-achievements article #recherche #filtres-selectionnes .filtre:not(:first-child) {
  margin: 0 10px;
}
#achievements #main-achievements article #recherche #filtres .dropdown {
  list-style: none;
  position: relative;
  border: 1px solid #b2a081;
  background-color: #b2a081;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 210px;
  height: 41px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
#achievements #main-achievements article #recherche #filtres .dropdown li[role=button] {
  font-weight: bold;
  padding: 10px 0 0 15px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: white;
}
#achievements #main-achievements article #recherche #filtres .dropdown .selected {
  color: white;
  background-color: #b2a081;
}
#achievements #main-achievements article #recherche #filtres .dropdown #arrow {
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transition: transform 0.2s linear;
}
#achievements #main-achievements article #recherche #filtres .dropdown .expanded {
  transform: rotate(-180deg);
}
#achievements #main-achievements article #recherche #filtres .dropdown #list-container {
  position: relative;
}
#achievements #main-achievements article #recherche #filtres .dropdown #list-container .liste {
  list-style-type: none;
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  overflow: hidden;
  opacity: 0;
  padding: 0;
  z-index: 1;
  border: 1px solid #b2a081;
  background-color: #b2a081;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#achievements #main-achievements article #recherche #filtres .dropdown #list-container .liste li {
  color: white;
  font-weight: bold;
  padding: 7px 0 5px 15px;
  border-bottom: 1px solid white;
}
#achievements #main-achievements article #recherche #filtres .dropdown #list-container .liste li:hover {
  font-weight: bold;
  background: whitesmoke;
  color: #61543d;
}
#achievements #main-achievements article #recherche #filtres .dropdown #list-container .liste li:last-child {
  border-bottom: none;
}
#achievements #main-achievements article #projets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #3c4244;
  margin-bottom: 5%;
}
#achievements #main-achievements article #projets .achievement {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 325px;
  height: 375px;
  margin-bottom: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0.5px solid rgba(41, 47, 47, 0.2117647059);
  background: #E1D8CF;
}
#achievements #main-achievements article #projets .achievement img {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(25%);
}
#achievements #main-achievements article #projets .achievement:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#achievements #main-achievements article #projets .achievement .description {
  padding: 0 20px;
}
#achievements #main-achievements article #projets .achievement .description h3 {
  margin: 5px 0 0px 0;
}
#achievements #main-achievements article #projets .achievement .description p {
  line-height: 1.5;
  font-weight: bold;
}
#achievements #main-achievements article #projets .achievement .boutons-projets {
  display: flex;
  justify-content: space-around;
}
#achievements #main-achievements article #projets .achievement .boutons-projets button {
  background: rgb(33, 33, 33);
  padding: 10px;
  border: 1px solid #646b62;
  border-radius: 20px;
  width: 140px;
}
#achievements #main-achievements article #projets .achievement .boutons-projets button:hover {
  background: #141414;
  transform: scale(1.02);
}
#achievements #main-achievements article #projets .achievement .boutons-projets button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.open {
  opacity: 1 !important;
  overflow: auto !important;
}

@media (max-width: 540px) {
  #main-achievements article h1 {
    font-size: 1em;
  }
}
@media (max-width: 770px) {
  #main-achievements article h2 {
    font-size: 1.2em;
  }
  #main-achievements article #projets {
    justify-content: center !important;
  }
}
@media (max-width: 1250px) {
  #accueil {
    background-image: url("../assets/img/img-blur.jpg");
    background-size: cover;
  }
  #contact {
    background-image: url("../assets/img/contact-img.jpg");
    background-size: cover;
  }
  #presentation,
  #img-accueil-desktop,
  #img-contact-desktop {
    display: none;
  }
  #presentation-mobile {
    display: block;
  }
  #nav-mobile {
    background-color: #2f2e2e;
  }
  #text-contact {
    width: 100% !important;
  }
  #text-contact #trait_dessous {
    border-top: 1px solid antiquewhite;
  }
}
@media (max-width: 1150px) {
  #main-achievements article h2 {
    margin-top: 12% !important;
  }
  #main-achievements article #recherche #filtres .dropdown {
    width: 375px;
  }
  #main-achievements article #projets .achievement {
    width: 375px;
    height: 425px;
  }
  #main-achievements article #projets .achievement .description {
    padding-top: 10px;
  }
}
@media (max-width: 1275px) {
  #main-achievements article h2 {
    width: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=index.css.map */
