@font-face {
    font-family: "Bogart";
    src: url("../assets/fonts/Bogart-Light-trial.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}

body {
    font-family: "Montserrat", Arial;
    margin: 0;
    background: #f6f6f6;
}

/* Navigation sur écran desktop */
nav:first-child {
    background: rgb(33, 33, 33);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    ul {
        width: 85%;
        display: flex;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        li {
            cursor: pointer;
            background: linear-gradient(to top,
                    #ddddd48f 0%,
                    #ddddd48f 10%,
                    transparent 10.01%) no-repeat left bottom / 0 75%;
            transition: background-size 0.5s;
            a {
                text-decoration: none;
                color: white;
                margin-right: 75px;
                font-family: "Montserrat-Medium";
            }
            &:first-child {
                font-family: "Montserrat";
                font-weight: bold;
                color: #C1AE8C;
            }
        }
    }
}
#espacement-nav {
    margin-left: auto;
}
#sans-marge {
    margin: 0;
}

/* Navigation sur mobile */
#section-nav-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 33, 33);
    div:first-child {
        padding-left: 20px;
        span {
            color: #C1AE8C;
            font-family: "Montserrat-Medium";
        }
    }
    div:nth-child(2) {
        padding-right: 20px;
        #icon-menu {
            width: 64px;
            height: 64px;
            z-index: 2;
        }
    }
    nav {
        width: 100%;
        position: absolute;
        left: 0;
        margin: 0;
        opacity: 0;
        background: rgb(33, 33, 33);
        transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
        ul {
            padding: 0 10px;
            font-weight: bold;
            li {
                color: white;
                margin: 0;
                padding: 10px;
                &:not(:last-child) {
                    border-bottom: 1px solid;
                }
                a {
                    font-family: Arial;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: #C1AE8C;
                    }
                }
            }
        }
    }
}
.navOpen {
    opacity: 1 !important;
}

#about-me {
    background-color: #E1D8CF !important;
}

#main-accueil,
#main-contact {
    display: flex;
    letter-spacing: 1.5px;
}

#main-accueil {
    section:first-child, section:nth-of-type(2){
        h1 {
            font-family: 'Bogart';
            font-size: 50px;
            text-align: center;
            line-height: 50px;
        }
    } 
    section:first-child {
        width: 50%;
        h1 {
            margin-top: 35%;
        }
        h2 {
            text-align: center; 
            margin-top: 5%
        }
        article {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-weight: bold;
            margin-top: 30%;
            p {
                margin-right: 50px
            }
            a {
                text-decoration: none; 
                color: black; 
                margin-left: 50px;
            } 
        }
    }
    section:nth-of-type(2) {
        display: none;
        width: 80%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        height: 675px;
        background: #ffffffd1;
        div {
            display: flex; 
            flex-direction: column;
            h1 {
                margin-top: 20%;
            }
            h2 {
                text-align: center; 
                margin-top: 5%;
            }
            article {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: bold;
                margin-top: 25%;
                p {
                    margin-right: 50px;
                }
                a {
                    text-decoration: none; 
                    color: black; 
                    margin-left: 50px; 
                    border-bottom: 0.5px solid black;
                    padding-bottom: 1px;
                }
            }
        }
    }
    img {
        width: 50%;
    }
}

#main-achievements {
    width: 85%;
    margin: 8% auto;
    article {
        h2 {
            font-size: 1.25em;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            letter-spacing: 0.25px;
        }
        #titre {
            display: flex;
            align-items: baseline;
            justify-content: center;
            .trait_dessus {
                border-top: 1px solid grey;
                width: 40%;
            }
            h1 {
                font-family: 'Bogart';
                font-size: 1.5em;
                width: 20%;
                text-align: center;
            }
        }
        #recherche {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            #filtres-selectionnes {
                height: 30px;
                .filtre {
                    font-family: "Montserrat";
                    font-weight: bold;
                    color: #b2a081;
                    border: 1px solid #b2a081;
                    border-radius: 15px;
                    padding: 5px 10px;
                }
                .filtre:first-child {
                    margin-right: 10px;
                }
                .filtre:not(:first-child) {
                    margin: 0 10px;
                }
            }
            #filtres {
                .dropdown {
                    list-style: none;
                    position: relative;
                    border: 1px solid #b2a081;
                    background-color: #b2a081;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    width: 250px;
                    height: 41px;
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                    li[role="button"] {
                        font-family: "Montserrat";
                        font-weight: bold;
                        padding: 10px 0px;
                        padding-left: 15px;
                        list-style-position: inside;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 80%;
                        color: white;
                        background-color: #b2a081;
                    }
                    .selected {
                        color: white;
                        background-color: #b2a081;
                    }
                    #arrow {
                        color: white;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transition: transform 0.2s linear;
                    }
                    .expanded {
                        transform: rotate(-180deg);
                    }
                    #list-container {
                        position: relative;
                        .liste {
                            list-style-type: none;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9),
                              max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
                            overflow: hidden;
                            opacity: 0;
                            padding: 0;
                            z-index: 1;
                            border: 1px solid #b2a081;
                            background-color: #b2a081;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            li {
                                color: white;
                                font-weight: bold;
                                padding: 7px 0 5px 15px;
                                border-bottom: 1px solid white;
                                &:hover{
                                    font-weight: bold;
                                    background: whitesmoke;
                                    color: #61543d;
                                }
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        #projets {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 40px;
            color: #3c4244;
            .achievement {
                box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
                transition: 0.3s;
                width: 325px;
                height: 375px;
                margin-bottom: 50px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: 0.5px solid #292f2f36;;
                background: #E1D8CF;
                img {
                    width: 100%;
                    height: 50%;
                    border-bottom: 1px solid navajowhite;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    filter: grayscale(25%);
                }
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                }
                .description {
                    padding: 7px 20px;
                    letter-spacing: initial;
                    h3 {
                        font-family: "Bogart";
                        margin-bottom: 0px;
                    }
                    p {
                        font-size: 14px;
                        font-family: "Montserrat";
                        line-height: 1.5;
                        font-weight: bold;
                        margin-top: 2px;
                    }
                }
                .boutons-projets {
                    display: flex;
                    justify-content: space-around;
                    button {
                        background: rgb(33, 33, 33);
                        padding: 10px;
                        border: 1px solid #646b62;
                        border-radius: 20px;
                        width: 140px;
                        &:hover {
                            background: darken(rgb(33, 33, 33), 5%);
                            transform: scale(1.02);
                        }
                        a {
                            font-family: "Bogart";
                            text-decoration: none;
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.open {
  opacity: 1 !important;
  overflow: auto !important;
}

// Media queries
@media (max-width: 840px){
    #main-achievements {
        article {
            #projets {
                justify-content: center;
                .achievement {
                    width: 350px;
                    height: 400px;
                    .description {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    #main-accueil {
        section:first-child{
            display: none;
        }
        section:nth-of-type(2){
            display: block;
        }
        img {
            display: none;
          }
    }
    #accueil {
        background-image: url("../assets/img/img-blur.jpg");
        background-size: cover;
    }
    #contact {
        background-image: url("../assets/img/contact-img-blur.jpg");
        background-size: cover;
    }

    #presentation,
    #img-accueil-desktop,
    #img-contact-desktop {
        display: none;
    }

    #presentation-mobile {
        display: block;
    }

    #nav-mobile {
        background-color: #2f2e2e;
    }
    #text-contact {
        width: 100%;
        h2 {
            color: antiquewhite;
        }
        article {
            margin-top: 10%;
        }
        #trait_dessous {
            border-top: 1px solid antiquewhite;
        }
    }
}