@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/league-spartan.bold.ttf");
}

@font-face {
  font-family: "League Spartan Lgt";
  src: url("../assets/fonts/LeagueSpartan-Light.otf");
}

@font-face {
  font-family: "Agrandir Thin";
  src: url("../assets/fonts/Agrandir-Thin.ttf");
}

body {
  font-family: "League Spartan", "Trebuchet MS", Arial;
  margin: 0;
  background: #fdfdfd;
  letter-spacing: 1.1px;
}

nav {
  width: 100%;
  z-index: 1;
}

ul {
  list-style-type: none;
}

nav > ul > li {
  margin: 0 25px;
  text-decoration: none;
  background: linear-gradient(
      to top,
      #ddddd48f 0%,
      #ddddd48f 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 0.5s;
  cursor: pointer;
}

nav > ul > li:hover {
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: #2f2e2e;
}

nav > ul > li:first-child,
strong {
  margin: 0;
}

strong {
  color: #b2a081;
}

nav:first-child {
  position: fixed;
  top: 0;
  background: #fdfdfd;
  color: #2f2e2e;
  height: 10%;
}

nav:first-child ul {
  width: 70%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.push {
  margin-left: auto;
}

#responsible-navigation a {
  text-transform: uppercase;
}

#responsibleNav {
  display: none;
  justify-content: space-between;
  align-items: center;
}

#responsibleNav > div:first-child {
  padding-left: 20px;
}

#responsibleNav > div:nth-child(2) {
  padding-right: 20px;
}

#icon-menu {
  width: 64px;
  height: 64px;
  z-index: 2;
}

nav:nth-child(2) {
  position: absolute;
  left: 0;
  margin: 0;
  opacity: 0;
  background: #b2a081;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
}

nav:nth-child(2) ul {
  padding: 0 10px;
  font-weight: bold;
}

nav:nth-child(2) li {
  color: white;
  margin: 0;
  padding: 10px;
}

nav:nth-child(2) li:not(:last-child) {
  border-bottom: solid;
}

nav:nth-child(2) a {
  font-family: Arial;
  text-decoration: none;
  color: white;
}

nav:nth-child(2) a:hover {
  color: black;
}

.navIsOpen {
  opacity: 1 !important;
  background-color: #b2a081;
}

main {
  width: 70%;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-family: "Agrandir Thin";
  color: #3c4244;
}

h3 {
  margin: 10px 0;
}

p {
  font-size: 1.25em;
  margin: 0;
}

article {
  margin-top: 125px;
}

button {
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
  border: 1px solid #b2a081;
  background: rgb(178, 160, 129);
  background: linear-gradient(
    90deg,
    rgba(178, 160, 129, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: 0.5s;
}

button:hover {
  border: 0;
  box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
  transform: scale(1.05);
  transition: 0.5s;
}

button a {
  font-family: "League Spartan Lgt";
  font-size: 18px;
  padding: 0 15px;
  color: white;
}

path {
  fill: white;
}

img.social-media-logo {
  width: 60px;
}

.aboutme-linkedin {
  position: relative;
  left: 55%;
  top: 15px;
}

.aboutme-github {
  position: relative;
  left: 46%;
}

.contact-logo-linkedin,
.contact-logo-github {
  position: relative;
  left: 75%;
}

.contact-logo-linkedin {
  bottom: -75px;
}

.contact-logo-github{
  bottom: -70px;
}

#presentation {
  margin-top: 250px;
  text-align: center;
}

#presentation > h1 {
  letter-spacing: initial;
  color: #2f2e2e;
  margin-bottom: 0px;
}

#presentation > h2 {
  font-size: 1.75em;
  margin-top: 5px;
}

#presentation > button {
  width: 445px;
}

#aboutme {
  display: flex;
}

#aboutme h1 {
  margin-top: 0px;
}

#aboutme p {
  font-family: "Agrandir Thin";
  font-weight: bold;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.6;
}

#aboutme button {
  position: relative;
  bottom: 10px;
  margin-top: 15px;
  z-index: 1;
}

img#profile-pic {
  width: 500px;
  height: 650px;
  position: fixed;
  right: 100px;
}

#pic_profil_responsive {
  display: none;
}

#circle {
  fill:rgba(178, 160, 129, 1);
  z-index: -1;
  position: fixed;
  width: 600px;
  right: -120px;
}

#text-aboutme {
  width:70%;
}

#photo-aboutme {
  width: 30%;
}

.dropdown {
  list-style: none;
  position: relative;
  border: 1px solid #b2a081;
  background-color: #b2a081;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 250px;
  height: 41px;
  cursor: pointer;
  padding: 0;
}

.arrow {
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transition: transform 0.2s linear;
}

.expanded {
  transform: rotate(-180deg);
}

.list {
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9),
    max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
}

.list-container {
  position: relative;
}

.dropdown ul {
  font-family: "Agrandir Thin";
  margin: 0;
  padding: 0;
}

.dropdown li {
  color: white;
  background-color: #b2a081;
}

.list li {
  padding: 7px 0 5px 15px;
  border-bottom: 1px solid white;
}

.list li:hover {
  font-weight: bold;
  background: whitesmoke;
  color: #61543d;
}

.list li:last-child{
  border-bottom: none;
}

li[role="button"] {
  font-family: "Agrandir Thin";
  font-weight: bold;
  padding: 10px 0px;
  padding-left: 15px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: white;
  background-color: #b2a081;
}

.open {
  opacity: 1;
  overflow: auto;
  max-height: 15rem;
}

#titleAchievements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

#filtersSelected {
  height: 30px;
}

article section h2 {
  text-align: center;
}

.filter:first-child {
  margin-right: 10px;
}

.filter:not(:first-child) {
  margin: 0 10px;
}

/* .filter:after {
  content: " X";
  font-size: x-small;
  position: relative;
  bottom: 4px;
  left: 2px;
} */

.filter {
  font-family: "Agrandir Thin";
  font-weight: bold;
  color: #b2a081;
  border: 1px solid #b2a081;
  border-radius: 15px;
  padding: 5px 10px;
}

#achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  color: #3c4244;
}

.achievement {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 275px;
  height: 325px;
  margin-bottom: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0.5px solid #b3a9a961;
}

.achievement:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.description {
  padding: 2px 10px;
  letter-spacing: initial;
}

.img-achievement {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.img-achievement:hover {
  filter: grayscale(50%);
  transition-property: filter;
  transition-duration: 1s;
  transition-timing-function: ease;
}

/* Partie concernant les languages affichés sur les réalisations */

/* #languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.language {
  font-family: "Agrandir Thin";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
  background: #6a6a6a;
  border: 1px solid #595858;
  border-radius: 50px;
  margin-right: 10px;
  padding: 5px 10px;
} */

.resume {
  font-size: 14px;
  font-family: "Agrandir Thin";
  margin: 10px 0;
  text-align: justify;
}

.btnsAchievement {
  display: flex;
  justify-content: space-around;
}

.btnAch {
  width: 45%;
  padding: 5px;
  font-weight: bold;
}

.btnAch > a {
  font-family: "Agrandir Thin";
  font-size: 14px;
  padding: 0;
}

.code {
  background: #ccc;
  border: 1px solid #bbbaba;
}

.contactme{
  margin-bottom: -60px;
}

#contact-text {
  width: 50%;
}

iframe {
  width: -webkit-fill-available;
}

form {
  width: 35%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  background: #f4f0eb;
}

#nameContact {
  display: flex;
  justify-content: space-between;
}

form button {
  width: 100%;
}

input,
textarea {
  font-family: "Agrandir Thin";
  border: 1px solid whitesmoke;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

input[type="text"] {
  width: 50%;
}

input[type="email"],
textarea {
  width: 95%;
}

::placeholder {
  font-weight: bold;
  color: #b2a081;
}

@media (max-width: 1375px) {
  svg#circle {
    display: none;
  }
  img#profile-pic {
    right: 50px;
  }
}

@media (max-width: 1190px) {
  nav:first-child > ul,
  main {
    width: 80%;
  }
  img#profile-pic {
    right: 0;
  }
  p{
    font-size: 1.2em;
  }
}

@media (max-width: 1100px) {
  svg#circle, img#profile-pic {
    display: none;
  }
  #aboutme {
    display: block;
  }
  #text-aboutme {
    width:100%;
  }
  #photo-aboutme {
    width: 0;
  }
  #pic_profil_responsive {
    display: block;
    width: 50%;
    margin: 25px 0 25px 0;
  }
  #contact-text {
    width: 100%;
  }
  iframe {
    display: none;
  }
  form {
    width: 50%;
    margin: 0;
  }
}

@media (max-width: 1020px) {
  nav:first-child > ul {
    width: 95%;
  }
  main {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  /* voir pour le svg bottom 0 */
}

@media (max-width: 895px) {
  h2 {
    font-size: 1.3em;
  }
  article {
    margin-top: 30px;
  }
  #aboutme {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5em;
  }
  form {
    width: 90%;
    margin: 0;
  }
  #achievements {
    justify-content: center;
  }
  .achievement {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  #pic_profil_responsive {
    width: 100%;
  }
}
