@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/league-spartan.bold.ttf");
}

@font-face {
  font-family: "League Spartan Lgt";
  src: url("../assets/fonts/LeagueSpartan-Light.otf");
}

@font-face {
  font-family: "Agrandir Thin";
  src: url("../assets/fonts/Agrandir-Thin.ttf");
}

/* .colors{
gold #C1AE8C
darkgold #B2A081
lightgrey #FDFDFD
blackgrey #313131
} */

body {
  font-family: "League Spartan", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1.2px;
  margin: 0;
  background: #fdfdfd;
}

#homepage {
  background-image: url("../assets/img/form_home.svg");
  background-size: cover;
  background-position: center 5%;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  height: 10%;
}

nav > ul {
  width: 70%;
  list-style-type: none;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

nav > ul > li {
  margin: 0 25px;
  text-decoration: none;
  color: #313131;
  background: linear-gradient(
      to top,
      #ddddd48f 0%,
      #ddddd48f 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 0.5s;
  cursor: pointer;
}

nav > ul > li:first-child,
strong {
  margin: 0;
}

strong {
  color: #b2a081;
}

nav > ul > li:hover {
  background-size: 100% 100%;
}

nav > ul > li > a {
  text-decoration: none;
  color: #313131;
}

.push {
  margin-left: auto;
}

main {
  width: 70%;
  margin: auto;
}

/* 
1er point de rupture : 1220px; 
Augmenter width ul


2ème pt de rupture : <861px
#achievement justify-content center
*/

.img-acc {
  position: absolute;
  top: 60px;
  left: 55%;
  width: 25%;
}

.wave-line {
  width: 100%;
  position: relative;
  top: -50px;
  z-index: -1;
}

.sd-wave {
  top: 25px;
}

#discover {
  position: relative;
  bottom: 10px;
}

.social-media-logo {
  width: 60px;
}

/* h2 about me pt de rupture 900px */

.aboutme-logo-linkedin {
  position: relative;
  left: 55%;
  bottom: 130px;
}

.aboutme-logo-github {
  position: relative;
  left: 46%;
  bottom: 145px;
}

.contact-logo-linkedin,
.contact-logo-github {
  position: relative;
  left: 75%;
  bottom: 35px;
}

article {
  margin-top: 125px;
}

#presentation {
  margin-top: 150px;
}

#presentation > h1 {
  color: #6b6a6a;
}

#presentation > p {
  font-size: 1.9vw;
  line-height: 1.45;
}

h1 {
  font-family: "League Spartan";
  font-size: 2vw;
}

h2 {
  font-family: "Agrandir Thin";
  font-size: 18px;
  color: #3c4244;
}

h3 {
  font-size: 17px;
  margin: 10px 0;
}

h1,
p {
  margin: 0;
}

#about-me {
  display: flex;
}

#about-me > div > h2 {
  text-align: justify;
}

#about-me > div > button {
  margin-top: 15px;
}

#about-me > div:first-child {
  padding-right: 25px;
  line-height: 1.5;
}

#profile-pic {
  width: 350px;
  height: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown {
  list-style: none;
  position: relative;
  border: 1px solid #b2a081;
  background-color: #b2a081;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 250px;
  height: 41px;
  cursor: pointer;
  padding: 0;
}
.arrow {
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transition: transform 0.2s linear;
}

.expanded {
  transform: rotate(-180deg);
}

path {
  fill: white;
}

.list {
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9),
    max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
}

.list-container {
  position: relative;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  font-family: "Agrandir Thin";
  color: white;
  background-color: #b2a081;
}

.list li {
  padding: 3px 0px;
  padding-left: 15px;
  border-bottom: 1px solid white;
}

/* .dropdown__list-item {
  font-family: Lato, sans-serif;
  padding: 10px 0px;
  padding-left: 15px;
  transition: background-color 0.1s linear, color 0.1s linear;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown__list-item:hover,
.dropdown__list-item:focus {
  background-color: #db8877;
  color: black;
} */

.selected {
  font-family: "Agrandir Thin";
  font-weight: bold;
  padding: 10px 0px;
  padding-left: 15px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: white;
  background-color: #b2a081;
}
.open {
  opacity: 1;
  overflow: auto;
  max-height: 15rem;
  background-color: #901c1c;
  color: white;
}

#filtersSelected {
  height: 30px;
}

.filter:first-child {
  margin-right: 10px;
}

.filter:not(:first-child) {
  margin-right: 10px;
  margin-left: 10px;
}

.filter:after {
  content: " X";
  font-family: "League Spartan";
  font-size: x-small;
  position: relative;
  bottom: 4px;
  left: 2px;
}

.filter {
  font-family: "Agrandir Thin";
  font-weight: bold;
  color: #b2a081;
  border: 1px solid #b2a081;
  border-radius: 15px;
  padding: 5px 10px;
}

#achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 275px;
  height: 325px;
  margin: 25px 25px 0 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0.5px solid #b3a9a961;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 10px;
  text-align: left;
  letter-spacing: initial;
}

.img-achievement {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.img-achievement:hover {
  filter: grayscale(50%);
  transition-property: filter;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.language {
  font-family: "Agrandir Thin";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
  background: #6a6a6a;
  border: 1px solid #595858;
  border-radius: 50px;
  margin-right: 10px;
  padding: 5px 10px;
}

.resume {
  font-size: 14px;
  font-family: "Agrandir Thin";
  margin: 10px 0;
  text-align: justify;
}

button {
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  font-family: "League Spartan";
  padding: 10px 15px;
  color: white;
  /* background: #b2a081; */
  border: 1px solid #b2a081;
  background: rgb(178, 160, 129);
  background: linear-gradient(
    90deg,
    rgba(178, 160, 129, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

button > a {
  color: white;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btn-ach {
  width: 45%;
  border-radius: 50px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-ach > a {
  font-family: "Agrandir Thin";
  text-decoration: none;
}

/* .demo {
  background: #ceb994;
  border: 1px solid #bca987;
} */

.code {
  background: #ccc;
  border: 1px solid #bbbaba;
}

form {
  background: #c1ae8c59;
  padding: 20px;
  border-radius: 10px;
}

input,
textarea {
  font-family: "Agrandir Thin";
  border: 1px solid white;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

::placeholder {
  font-weight: bold;
  color: #b2a081;
}
