@font-face {
    font-family: "Bogart";
    src: url("../assets/fonts/Bogart-Light-trial.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Thin.ttf");
}

body {
    font-family: "Montserrat", Arial;
    margin: 0;
    background: #f6f6f6;
}

#about-me {
    background-color: #E1D8CF !important;
}

#main-accueil,
#main-contact {
    display: flex;
    letter-spacing: 1.5px;
}

nav:first-child {
    background: rgb(33, 33, 33);
    width: 100%;
    position: fixed;
    top: 0;

    ul {
        width: 90%;
        display: flex;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        list-style-type: none;

        li {
            cursor: pointer;
            background: linear-gradient(to top,
                    #ddddd48f 0%,
                    #ddddd48f 10%,
                    transparent 10.01%) no-repeat left bottom / 0 75%;
            transition: background-size 0.5s;

            a {
                text-decoration: none;
                color: white;
                margin-right: 75px;
                font-weight: bold;
            }

            &:first-child {
                color: #C1AE8C;
                font-weight: bold;
            }

            // &:hover {
            //     background-size: 100% 75%;
            // }
        }
    }
}

#espacement-nav {
    margin-left: auto;
}

#sans-marge {
    margin: 0;
}

// /* Navigation sur mobile */
#section-nav-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    div:first-child {
        padding-left: 20px;
    }
    div:nth-child(2) {
        padding-right: 20px;
        #icon-menu {
            width: 64px;
            height: 64px;
            z-index: 2;
        }
    }
    nav {
        width: 100%;
        position: absolute;
        left: 0;
        margin: 0;
        opacity: 0;
        background: #b2a081;
        transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
        ul {
            padding: 0 10px;
            font-weight: bold;
            li {
                color: white;
                margin: 0;
                padding: 10px;
                &:not(:last-child) {
                    border-bottom: solid;
                }
                a {
                    text-transform: uppercase;
                    font-family: Arial;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.navOpen {
    opacity: 1 !important;
    background-color: #b2a081;
}

.open {
    opacity: 1;
    overflow: auto;
    max-height: 15rem;
}

// Partie mobile accueil
#presentation-mobile {
    display: none;
}

@media (max-width: 1000px) {
    #accueil {
        background-image: url("../assets/img/img-blur.jpg");
        background-size: cover;
    }

    #contact {
        background-image: url("../assets/img/contact-img-blur.jpg");
        background-size: cover;
    }

    #presentation,
    #img-accueil-desktop,
    #img-contact-desktop {
        display: none;
    }

    #presentation-mobile {
        display: block;
    }

    #nav-mobile {
        background-color: #2f2e2e;
    }

    #text-contact {
        width: 100%;

        h2 {
            color: antiquewhite;
        }

        article {
            margin-top: 10%;
        }

        #trait_dessous {
            border-top: 1px solid antiquewhite;
        }
    }
}