@font-face {
    font-family: "Bogart";
    src: url("../assets/fonts/Bogart-Light-trial.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}

body {
    font-family: "Montserrat", Arial;
    margin: 0;
    background: #f6f6f6;
}

h1 {
    font-size: 1.5em;
    font-family: 'Montserrat-Medium';
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-weight: 500;
    font-family: 'Montserrat-Medium';
}
p {
    font-size: 1em;
}

/* Navigation sur écran desktop */
nav:first-child {
    background: rgb(33, 33, 33);
    ul {
        width: 85%;
        display: flex;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        li {
            cursor: pointer;
            background: linear-gradient(to top,
                    #ddddd48f 0%,
                    #ddddd48f 10%,
                    transparent 10.01%) no-repeat left bottom / 0 75%;
            transition: background-size 0.5s;
            a {
                text-decoration: none;
                color: white;
                margin-right: 75px;
                font-family: "Montserrat-Medium";
            }
            &:first-child {
                font-family: "Montserrat";
                font-weight: bold;
                color: #C1AE8C;
            }
        }
    }
}
#espacement-nav {
    margin-left: auto;
}
#sans-marge {
    margin: 0;
}

/* Navigation sur mobile */
#section-nav-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 33, 33);
    div:first-child {
        padding-left: 20px;
        span {
            color: #C1AE8C;
            font-family: "Montserrat-Medium";
        }
    }
    div:nth-child(2) {
        padding-right: 20px;
        #icon-menu {
            width: 64px;
            height: 64px;
            z-index: 2;
        }
    }
    nav {
        width: 100%;
        position: absolute;
        left: 0;
        margin: 0;
        opacity: 0;
        background: rgb(33, 33, 33);
        transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
        z-index: 1;
        ul {
            padding: 0 10px;
            font-weight: bold;
            li {
                color: white;
                margin: 0;
                padding: 20px 10px;
                &:not(:last-child) {
                    border-bottom: 1px solid;
                }
                a {
                    font-family: "Montserrat-Medium";
                    font-weight: normal;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: #C1AE8C;
                    }
                }
            }
        }
    }
}
.navOpen {
    opacity: 1 !important;
}

#main-accueil,
#main-contact {
    display: flex;
}


// Page d'accueil
#main-accueil {
    section{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: 40%;
        transform: translate(-50%, -50%);
        background: #ffffff96;
        border: 1px solid;
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
            width: 100%;
            text-align: center;
            font-size: 2em;
        }
        h2 {
            &:first-child {
                margin-top: 20px; 
                text-align: center; 
                //font-size: 20px
            }
            &:nth-of-type(2) {
                //font-size: 15px; position: absolute; left: 50%; transform: translate(-50%, 100%); bottom: 25px;
                a {
                    text-decoration: none; 
                    color: black;
                }
            }
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 170%);
            margin-top: 40px;
            width: 100%;
            //font-size: 10px;
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 20px;
            text-align: center;
            a {
                background: rgb(33, 33, 33);
                color: white;
                padding: 10px;
                border-radius: 20px;
            }
        }
    } 
}

#main-contact {
    #img-contact-desktop {
        width: 775px; 
        height: 675px; 
    }
    section {
        article:first-child {
            display: flex; 
            align-items: center; 
            justify-content: center; 
            .trait_dessous {
                width: 150px; 
                border-top: 1px solid grey;
            }
        }
        h1 {
            text-align: center;
            padding: 0 10px; 
        }
        h2 {
            width: 60%;
            margin: auto;
            line-height: 1.5;
            text-align: justify; 
            margin-bottom: 2%;
        }
        article:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            text-align: center;
            background: #e1d8cfe8;
            width: 50%;
            margin: auto;
            padding: 10% 5%;
            .moyen_comm {
                display: flex; 
                flex-direction: column; 
                align-items: center;
                img {
                    width: 50px;
                }
                p {
                    font-weight: bold;
                    letter-spacing: 1px;
                    line-height: 1.3;
                }
            }
            #trait_dessous {
                border-top: 1px solid #000; 
                width: 80%; 
                margin: auto;
                margin-top: 4%;
                margin-bottom: 4%;
            }
        }
    }
}

@media (max-width: 1200px) {
    #main-accueil{
        section {
            width: 50%;
        }
    }    
}
@media (max-width: 950px) {
    #main-accueil{
        section {
            width: 50%;
            h2, p {
                width: 100%;
                text-align: center;
            }
        }
    }    
}
@media (max-width: 750px) {
    #main-accueil{
        section {
            width: 65%;
            h2, p {
                width: 100%;
                text-align: center;
            }
        }
    }    
}
@media (max-width: 550px) {
    #main-accueil{
        section {
            width: 75%;
        }
    }    
}

// Page competences
.main-competences {
    width: 100%;
    margin: auto;
    padding: 50px 0 50px 0;
    #resume {
        width: 85%; 
        margin: auto;
        article {
            div {
                display: flex;
                section {
                    h1 {
                        margin-top: 0;
                        font-weight: bold;  
                    }
                    p {
                        font-size: 1.25em; 
                        font-weight: bold; 
                        text-align: justify; 
                        line-height: 1.75; 
                        padding-right: 75px;
                        strong {
                            font-family: 'Montserrat-Medium';
                        }
                    }
                    div {
                        display: flex; 
                        flex-direction: row; 
                        align-items: center;
                        div {
                            border-bottom: 1px solid #fcfcfc; 
                            width: 77%; 
                            margin-top: 4%;
                        }
                    }
                }
                img {
                    width: 325px; 
                    height: fit-content;
                }
            }
        }
    }
    #competences {
        width: 85%; 
        margin: auto;
        article {
            display: flex; 
            align-items: center; 
            justify-content: space-between;
            h2 {
                text-align: center;
                padding: 0 10px 0 10px;  
                font-family: 'Montserrat-Medium';               
            }
            div.trait_dessus {
                border-top: 1px solid grey;
                width: 40%;
            }
            .competence {
                width: 325px;
                height: 375px;
                border: 1px solid rgb(33,33,33);
                background: #E1D8CF;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
                margin-bottom: 50px;
                &:hover {
                    background: #2f2e2e;
                    h3, img {
                        display: none;
                    }
                    ul {
                        display: block; 
                        //list-style: none; 
                        font-family: 'Montserrat-Medium';       
                        //font-size: 20px;
                        color: white;  
                        padding: 0;
                        li {
                            padding-bottom: 5px;
                        }
                    }
                }
                h3 {
                    font-family: 'Montserrat-Medium';
                    color: #4c4c4c;
                }
                img {
                    width: 150px;
                }
                ul {
                    display: none;
                }
            }
        }
        article:nth-child(2) {
            flex-wrap: wrap;
        }
    }
}

// Media queries
@media (max-width: 1200px) {
    .main-competences {
        #competences {
            article:nth-child(2) {
                width: 75%;
                margin: auto;
            }
        }    
    }
}
@media (max-width: 1050px) {
    .main-competences {
        #competences {
            article:nth-child(2) {
                justify-content: center;
            }
        }    
    }
}
@media (max-width: 895px) {
    .main-competences {
        #resume {
            article {
                div {
                    flex-direction: column;
                    align-items: center;
                    section {
                        p {
                            font-size: 20px;
                            padding: 0;
                        }
                    }
                }
                img {
                    margin-top: 4%;
                }
            }
        }    
    }
}

// Page des projets
#achievements {
background: white;
    #main-achievements {
        width: 85%;
        margin: auto;
        margin-top: 5%;
        article {
            h2 {
                line-height: 1.5;
                text-align: center;
            }
            #titre {
                display: flex;
                align-items: baseline;
                justify-content: center;
                // margin-bottom: -5%;
                .trait_dessus {
                    border-top: 1px solid grey;
                    width: 40%;
                }
                h1 {
                    width: 30%;
                    text-align: center;
                    padding: 10px;
                    background: rgb(33,33,33);
                    color: white;
                }
            }
            #recherche {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 30px;
                #filtres-selectionnes {
                    height: 30px;
                    .filtre {
                        font-family: "Montserrat";
                        font-weight: bold;
                        background: white;
                        color: #b2a081;
                        border: 1px solid #b2a081;
                        border-radius: 15px;
                        padding: 5px 10px;
                    }
                    .filtre:first-child {
                        margin-right: 10px;
                    }
                    .filtre:not(:first-child) {
                        margin: 0 10px;
                    }
                }
                #filtres {
                    .dropdown {
                        list-style: none;
                        position: relative;
                        border: 1px solid #b2a081;
                        background-color: #b2a081;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 210px;
                        height: 41px;
                        cursor: pointer;
                        margin: 0;
                        padding: 0;
                        li[role="button"] {
                            font-weight: bold;
                            padding: 10px 0 0 15px;
                            list-style-position: inside;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 80%;
                            color: white;
                        }
                        .selected {
                            color: white;
                            background-color: #b2a081;
                        }
                        #arrow {
                            color: white;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transition: transform 0.2s linear;
                        }
                        .expanded {
                            transform: rotate(-180deg);
                        }
                        #list-container {
                            position: relative;
                            .liste {
                                list-style-type: none;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                                transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9),
                                max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
                                overflow: hidden;
                                opacity: 0;
                                padding: 0;
                                z-index: 1;
                                border: 1px solid #b2a081;
                                background-color: #b2a081;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                                li {
                                    color: white;
                                    font-weight: bold;
                                    padding: 7px 0 5px 15px;
                                    border-bottom: 1px solid white;
                                    &:hover{
                                        font-weight: bold;
                                        background: whitesmoke;
                                        color: #61543d;
                                    }
                                    &:last-child{
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #projets {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                color: #3c4244;
                margin-bottom: 5%;
                .achievement {
                    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
                    transition: 0.3s;
                    width: 325px;
                    height: 375px;
                    margin-bottom: 50px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border: 0.5px solid #292f2f36;
                    background: #E1D8CF;
                    img {
                        width: 100%;
                        height: 50%;
                        border-bottom: 1px solid whitesmoke;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        filter: grayscale(25%);
                    }
                    &:hover {
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    }
                    .description {
                        padding: 0 20px;
                        h3 {
                            margin: 5px 0 0px 0;
                        }
                        p {
                            line-height: 1.5;
                            font-weight: bold;
                        }
                    }
                    .boutons-projets {
                        display: flex;
                        justify-content: space-around;
                        button {
                            background: rgb(33, 33, 33);
                            padding: 10px;
                            border: 1px solid #646b62;
                            border-radius: 20px;
                            width: 140px;
                            &:hover {
                                background: darken(rgb(33, 33, 33), 5%);
                                transform: scale(1.02);
                            }
                            a {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.open {
  opacity: 1 !important;
  overflow: auto !important;
}

// Media queries
@media (max-width: 770px){
    #main-achievements {
        article {
            #projets {
                justify-content: center !important;
            }
        }
    }
}
@media (max-width: 890px){
    #main-achievements {
        article {
            h2 {
                width: 90% !important;
                margin: auto !important;
            }
        }
    }
}
@media (max-width: 1000px) {
    #accueil {
        background-image: url("../assets/img/img-blur.jpg");
        background-size: cover;
    }
    #contact {
        background-image: url("../assets/img/contact-img.jpg");
        background-size: cover;
    }

    #presentation,
    #img-accueil-desktop,
    #img-contact-desktop {
        display: none;
    }

    #presentation-mobile {
        display: block;
    }

    #nav-mobile {
        background-color: #2f2e2e;
    }
    #text-contact {
        width: 100% !important;
        article {
            margin-top: 10%;
        }
        #trait_dessous {
            border-top: 1px solid antiquewhite;
        }
    }
}
@media (max-width: 1150px){
    #main-achievements {
        article {
            h2 {
                margin-top: 12% !important;
            }
            #recherche {
                #filtres {
                    .dropdown {
                        width: 375px;
                    }
                }
            }
            #projets {
                .achievement {
                    width: 375px;
                    height: 425px;
                    .description {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1460px){
    #main-achievements {
        article {
            h2 {
                width: 60%;
                margin: auto;
            }
        }
    }
}